@media(max-width: 1350px) {
    .top__slider-info {
        padding-right: 20px;
    }
    .top__slider-image {
        min-height: 700px;
        height: 700px;
    }
    .top__slider-title {
        font-size: 75px;
        line-height: 94px;
    }
}

@media(max-width: 1120px) {
    .top__inner::after {
        height: 625px;
    }
    .top__slider-item {
        justify-content: space-around;
    }
    .top__slider-image {
        min-height: 600px;
        height: 600px;
    }
    .top__slider-title {
        font-size: 58px;
        line-height: 70px;
    }
    .top__slider-text {
        max-width: 400px;
        width: 311px;
    }
    .top__slider-info {
        max-width: 400px;
        width: 400px;
    }
    .collection {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (max-width: 1000px) {
    .blog__inner {
        flex-direction: column-reverse;
    }
    .blog__aside {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .blog-items {
        max-width: 100%;
        margin-right: 0;
    }
    .blog-item__img {
        width: 100%;
    }
}

@media(max-width: 925px) {
    .footer__info {
        width: 380px;
    }
    .top__slider-image {
        min-height: 550px;
        height: 550px;
        margin-left: -50px;
    }
    .gallery__items,
    .gallery__items-2 {
        gap: 10px;
    }
    .gallery__buttons {
        justify-content: space-between;
        gap: 5px;
    }
    .about__text {
        max-width: fit-content;
    }
    .about__title {
        max-width: fit-content;
        font-size: 31px;
        line-height: 53px;
    }
}
@media (max-width: 832px) {
    .inspiration__img {
        display: none;
    }
    .inspiration__content {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header__btn {
        display: none;
    }
    .menu {
        padding-right: 0;
    }
    .logo {
        margin: 0;
    }
    .top__inner::after {
        height: 370px;
    }
    .top__inner .top__slider-image {
        display: none;
    }
    .top__slider-text {
        max-width: 100%;
        width: 100%;
    }
    .top__slider-info {
        margin-top: 70px;
        padding: 0 20px;
        max-width: 100%;
        width: 100%;
    }
    .collection {
        grid-template-columns: repeat(2, 1fr);
    }
    .new-collection__text {
        max-width: 500px;
    }
    .aesthetic {
        padding: 75px 0 75px;
        min-height: auto;
    }
    .works-path__item02{
        margin-left: 114px;
    }
    .works-path__item03{
        margin-left: 200px;
    }
    .works-path__item-text{
        min-width: 200px;
    }
    .gallery__buttons {
        display: grid;
        justify-content: center;
    }
    .gallery__button {
        width: 400px;
        padding: 6px 10px;
    }
    .footer__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .about__prev {     
        padding: 80px 0;
    }
    .footer__info {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__social-list {
        margin: 0 auto;
    }
    .footer__menu {
        margin: 0 auto;
    }
    .blog-box__items {
        grid-template-columns: 1fr;
    }
    .blog-box__item-link {
        display: block ;
    }
    .blog-box__item-img {
        width: 100%;
    }
    .partners__list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        column-gap: 10px;
    }
    .partners__item {
        max-width: 120px;
    }
    .breadcrums--contact {
        background-color: rgba(223,223,223);
    }
   
}
@media (max-width: 540px) {
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header__inner {
        flex-wrap: wrap;
        padding-top: 40px;
    }
    .header__btn-mobile {
        order: -1;
        position: relative;
        z-index: 12;
        display: block;
        margin-left: auto;
        & span {
            width: 37px;
            height: 3px;
            background-color: #000;
            border-radius: 5px;
            display: block;
            margin: 6px 0;
        }
    }
    .menu {
        text-align: center;
        z-index: 11;
        display: block;
        width: 100%;
        background-color: #fff;
        transform: translateY(-220px);
        transition: all .5s;
        &--open{
            transform: translateY(30px);
        }
        &__list {
            flex-wrap: wrap;
            margin-bottom: 10px;
            gap: 10px;
        }
        &__list-item {
            display: block;
            width: 100%;
        }
        &__list-item + .menu__list-item {
            padding: 0;
        }
    }
    .new-collection__text {
        max-width: 400px;
    }
    .aesthetic__title {
        font-size: 35px;
        line-height: 43px;
    }
    .works-path {
        margin-bottom: 55px;
    }
    .works-path__items-box {
        border-bottom: none;
        flex-wrap: wrap;
    }
    .works-path__item{
        width: 100%;
    }
    .works-path__item02{
        margin-left: 0;
        order: 1;
        margin-top: 20px;
    }
    .works-path__item03{
        margin-left: 0;
        padding-top: 0;
    }
    .works-path__items-box::after{
        display: none;
    }
    .works-path__item02::after{
        display: none;
    }
    .works-path__item03::after{
        display: none;
    }
    .gallery__items, 
    .gallery__items-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__items:nth-child(odd) .gallery__item:first-child, 
    .gallery__items-2:nth-child(even) .gallery__item-2:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    .gallery__items:nth-child(even) .gallery__item:nth-child(3), 
    .gallery__items-2:nth-child(odd) .gallery__item-2:nth-child(3) {
        grid-column: 1;
        grid-row: 1;
    }
    .about__prev {     
        font-size: 30px;
    }
    .inspiration__title {
        font-size: 27px;
    }
    .inspiration__item-title {
        margin-right: 10px;
    }
    .contact-us__content-box {
        max-width: fit-content;
        margin: 0 auto;
    }
    .map {
        iframe {
            height: 350px;
        }
    }
}

@media (max-width: 440px) {
    .collection {
        grid-template-columns: repeat(1, 1fr);
    }
    .collection__item {
        justify-self: center;
    }
    .new-collection__text {
        max-width: 300px;
    }
    .gallery__button {
        width: 300px;
    }
    .partners {
        display: none;
    }
    .contact-us__content-box {
        max-width: 100%;
        margin: 0;
        align-self: center;
    }
    .contact-us__form {
        display: block;
    }
    .contact-us__email,
    .contact-us__name {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact-us__btn {
        width: 100%; 
    }
    .blog-post-slider__item:nth-child(1) {
        display: none;
    }
    .blog-post-slider__item:nth-child(2) {
        text-align: center;
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }
    .blog-post__post-comment-form {
        display: block;
        max-width: 100%;
    }
    .blog-post__post-comment-message,
    .blog-post__post-comment-name,
    .blog-post__post-comment-email,
    .blog-post__post-comment-submit {
        width: 100%;
    }
    .blog-post__post-comment-email {
        margin-top: 10px;
    }
    .footer__social-list{
        margin-left: 0;
    }
    .footer__form {
        flex-wrap: wrap;
    }
    .footer__input {
        width: 100%;
    }
    .footer__btn {
        margin: 10px 0 0;
        width: 100%;
    }
}